<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Link Tailwind --}}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {{!-- Link stylesheet -having issues linking- --}}
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<<<<<<< HEAD
<body class="{{bodyClass}}">

    {{{body}}}
    
=======
<body>
    <header>
        <h1>
            <a href="/">Roast Me</a>
        </h1>
        <nav>
            <a href="/login">login</a>
        </nav>

        {{{body}}}

>>>>>>> 468ca1c306574da6484629f337f2f987e72ea718
</body>

</html>