<h1 id="roast-me" class="m-10 text-center text-8xl">Roast Soup</h1>

<hr id="line" class="flex text-center" />

<section class="justify-center m-8 p-4 text-center">
    <h2 class="m-3 text-6xl board-title">Daily Roast:</h2>
    <div class="m-3 text-4xl board-content">insult api here</div>
</section>

<section class="justify-center m-8 p-4 text-center">
    <h2 class="m-3 text-6xl board-title">Drink Menu:</h2>
    {{!-- use javascript for this bullet list?? --}}
    <ul class="m-3 text-4xl leading-tight board-content">
        <li>Latte</li>
        <li>Mocha</li>
        <li>Americano</li>
        <li>Hot Chocolate</li>
        <li>Cappuccino</li>
        <li>Brewed Coffee</li>
        <li>Hot Tea</li>
        <li>Green Tea Latte</li>
        <li>Chai Tea Latte</li>
    </ul>
</section>
