<h1 id="roast-me" class="text-center text-8xl">Roast Soup</h1>

<section>
    <h2>Daily Roast:</h2>
    <span>insult api here</span>
</section>

<section>
    <h2>Drink Menu:</h2>
    {{!-- use javascript for this bullet list?? --}}
    <ul>
        <li></li>
    </ul>
</section>
