<h2 id="drink-menu">Roast Me Drink Menu</h2>

<h3>Daily Roast: (fetch insult api here?)</h3>

<ol>
    <li>Brewed Coffee</li>
    <li>Cold Brew</li>
    <li>Espresso</li>
    <li>Latte</li>
    <li>Other Drink</li>
</ol>