<header class="bg-blue-200 px-16 py-14 flex justify-between sticky">
    <span class="text-5xl">Roast Me</span>
    <a class="self-end pr-16">
        <span class="text-xl">Logout</span>
    </a>
</header>

<h1 class="bg-gray-100 p-8 text-center text-3xl">Welcome, [PLUG NAME HERE]!</h1>
