<header class="bg-blue-200 px-16 py-14 flex justify-between sticky">
    <span class="text-5xl">Roast Me</span>
    <a class="self-end pr-16">
        <span class="text-xl">Logout</span>
    </a>
</header>

<div class="bg-gray-100">
    <h1 class="p-8 text-center text-4xl">Welcome, [PLUG NAME HERE]!</h1>

    <div class="p-4 pb-10 flex justify-center">
        <button class="p-6 border-8 border-gray-400 rounded-full text-3xl">Post my Roast</button>
    </div>
</div>

<div class="p-80 bg-purple-100"></div>