<h1>HOME PAGE</h1>
<!-- would be cool to say Welcome, (USER)NAME! -->

{{!-- create a post --}}
<ul>
    <li>
        <article>
            <img>
            <div>
                <div class="post-title"></div>
                <input type="text">
            </div>
        </article>
    </li>
</ul>