/* make buttons dissapear and appear when needed */
.hide {
    display: none;
}
/*buttons style - add image background*/
button.submit {
    background-image: url('../assets/coffee-cup.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125px 125px;

    /* image-rendering: auto; */
    height: 8rem;
    /* background-size:  cover 50% 50%; */
    color:rgb(230, 211, 116);
    font-weight:800;
    /* text-decoration-color: chocolate; */
}

form label, button {
    font-family: 'Kranky', cursive;
}

form input {
    font-family: 'Walter Turncoat', cursive;
}
