/* make buttons dissapear and appear when needed */
.hide {
    display: none;
}
/*buttons style - add image background*/
button.submit {
    background-image: url('../assets/coffee-cup.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125px 125px;
    text-shadow: 2px 2px #2b2705;
    height: 8rem;
    font-weight:800;
    color: #10B981;
}

form label, button {
    font-family: 'Kranky', cursive;
}

form input {
    font-family: 'Walter Turncoat', cursive;
}


