/* Blackboard styles */
.blackboard {
    color: white;
    background-image: url(../assets/dark_wall_@2X.png);
}

#roast-me {
    font-family: 'Mountains of Christmas', cursive;
}

#line {
    border-top: 10px dotted white;
    width: 65%;
    margin: auto;
}

.board-title {
    font-family: 'Kranky', cursive;
}

.board-content {
    font-family: 'Walter Turncoat', cursive;
}