
@font-face {
    font-family: CoffeeMugs;
    src: url('CoffeeMugs-e9Jl.ttf');
}

span {
    font-family: CoffeeMugs;
}

.blackboard {
    color: white;
    background-image: url(../assets/dark_wall_@2X.png);
}