/* Blackboard styles */
.blackboard {
    color: white;
    background-image: url(../assets/dark_wall_@2X.png);
}

#roast-me {
    font-family: 'Mountains of Christmas', cursive;
}

.home-header {
    padding: 4rem 3.5rem;
    background-color: rgb(44, 139, 119);
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;

}

.edit-caption-header {
    color: greenyellow;
    text-align: right;
}